<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="This is Lu's Marques'Profile">
	<title> Luiza Marques'Profile </title>
	<script src="https://kit.fontawesome.com/3d10b4da27.js" crossorigin="anonymous"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>

<div class="container">
	<div class="card-floralwhite" id="introduction">

		<h1>Oie, I'm Lulu 🐺</h1>

		<img src="images/IMG-2478.jpg" class="img-circle" width="150px" alt="Lulu">

		<h2>A little bit about me,</h2>

		<p>I was born in Brazil and lived there my whole until I moved from São Paulo to France.</p>

		<a href="https://br.pinterest.com/luiza_marques/" target="blank" class="btn-yellow"> My Pinterest</a>
	</div>

	<div class="card-floralwhite">

		<h2>My Hobbies and Favorite Activities 🫶🏽</h2>
	</div>

	<div class="card-floralwhite">
		<h3>Reading 📚</h3>

		<p>Brazilian literature and literature in general is one of my passions. Some of my favorite books are, The Alienist, Dune, Cry The Beloved Country, and The Handsmaids Tale.
		</p>
		<img src="images/IMG_3183.jpeg" width="150px" length="150px" alt="Livro1">
		<img src="images/IMG_3392.jpeg" width="150px" length="150px" alt="Livro2">
		<img src="images/lulu.jpg" width="150px" length="150px" alt="Livro3">

	</div>

	<div class="card-floralwhite">
		<h3>Socializing 💃🏽</h3>

		<p> I am an extrovert a
		nd I adore spending time with people, especially meeting them in unique situations!</p>
		<img src="images/IMG_2533.jpeg" width="150px" length="150px" alt="Amigos1">
		<img src="images/alexito.jpeg" width="150px" length="150px" alt="Amigos3">
		<img src="images/IMG_3353.jpeg" width="150px" length="150px" alt="Amigos2">
	</div>

	<div class="card-floralwhite">
		<h3>Cooking 🥭</h3>

		<p>Instead of coming to ESSEC, I almost went to cooking school. Cooking is the one thing that takes my mind of everything, it is art and love combined into a dish.</p>
		<img src="images/IMG_0634.jpeg" width="150px" length="150px" alt="Livro1">
		<img src="images/IMG_0601.jpeg" width="150px" length="150px" alt="Livro2">
		<img src="images/IMG_0286.jpeg" width="150px" length="130px" alt="Livro3">
	</div>


	<div class="card-floralwhite">
		<h2>A Pick Into my Life</h2>

		<ul class="list-inline">
		<li>
			<a href= "https://www.facebook.com/profile.php?id=100085744808658" target="blank"> <i class="fa-brands fa-facebook"></i></a>
		</li>
		<li>
			<a href="https://www.instagram.com/lulobomarques/" target="blank"> <i class="fa-brands fa-instagram"></i></a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/luiza-marques-b66453261/" target="blank"> <i class="fa-brands fa-linkedin"></i></a>
		</li>
		</ul>
	</div>
</div>



</body>
</html>